/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.departures {
  font-size: 400%;
}
.departure-title {
  font-size: 85%;
}
.departure-line {
  font-weight: 400;
}
.departure-time {
  font-weight: 600;
  font-size: 100%;
}
.list-group-item {
  padding:0 10px;
}

.traffic-icon {
  width: 50px;
  line-height: 100%;
  font-size: 30px;
  font-weight: bold;
  border-top: 12px solid #ccc;
  border-bottom: 12px solid #ccc;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-family: arial;
  margin: 0 10px 0 0;
}