<p>Uppdaterad {{latestUpdate | amCalendar}}</span></p>
<div ng-if="dataAge >= 180" class="alert-danger" role="alert">
  <strong>Varning</strong>
    Ej uppdaterat de senaste {{dataAge}} sekunderna
</div>

<h2><span class="traffic-icon">J</span>Pendeltåg</h2>
<ul class="list-group departures">
  <li class="list-group-item" ng-repeat="departure in trains | limitTo: trainLimit">
    <span class="departure-line">{{departure.LineNumber}}</span>
    <span class="departure-title">{{departure.Destination}}</span>
    <span ng-show="showMoment(departure.ExpectedDateTimeMoment)" class="departure-time pull-right" am-time-ago="departure.ExpectedDateTimeMoment"></span>
    <span ng-hide="showMoment(departure.ExpectedDateTimeMoment)" class="departure-time pull-right">{{departure.ExpectedDateTimeMoment | amDateFormat: 'HH:mm'}}</span>
    <ul class="list-unstyled list-group deviation bg-warning" ng-if="departure.Deviations">
      <li ng-repeat="deviation in departure.Deviations">
        <strong>{{deviation.Consequence}}</strong>
        <span>{{deviation.Text}}</span>
      </li>
    </ul>
  </li>
</ul>
<hr>

<h2><span class="traffic-icon">B</span>Buss</h2>
<ul class="list-group departures">
  <li class="list-group-item" ng-repeat="departure in buses | limitTo: busLimit">
    <span class="departure-line">{{departure.LineNumber}}</span>
    <span class="departure-title">{{departure.Destination}}</span>
    <span ng-show="showMoment(departure.ExpectedDateTimeMoment)" class="departure-time pull-right" am-time-ago="departure.ExpectedDateTimeMoment"></span>
    <span ng-hide="showMoment(departure.ExpectedDateTimeMoment)" class="departure-time pull-right">{{departure.ExpectedDateTimeMoment | amDateFormat: 'HH:mm'}}</span>
    <ul class="list-unstyled list-group deviation bg-warning" ng-if="departure.Deviations">
      <li ng-repeat="deviation in departure.Deviations">
        <strong>{{deviation.Consequence}}</strong>
        <span>{{deviation.Text}}</span>
      </li>
    </ul>
  </li>
</ul>