<p>Uppdaterad {{latestUpdate | amCalendar}}</span></p>
<div ng-if="dataAge >= 180" class="alert-danger" role="alert">
  <strong>Varning</strong>
    Ej uppdaterat de senaste {{dataAge}} sekunderna
</div>

<h2><span class="traffic-icon">J</span>Pendeltåg</h2>
<ul class="list-group departures">
  <li class="list-group-item" ng-repeat="departure in trains | limitTo: limit">
    <span class="departure-line">{{departure.LineNumber}}</span>
    <span class="departure-title">{{departure.Destination}}</span>
    <span class="departure-time pull-right" am-time-ago="departure.ExpectedDateTimeMoment"></span>
  </li>
</ul>
<hr>

<h2><span class="traffic-icon">B</span>Buss</h2>
<ul class="list-group departures" >
  <li class="list-group-item" ng-repeat="departure in buses | limitTo: limit">
    <span class="departure-line">{{departure.LineNumber}}</span>
    <span class="departure-title">{{departure.Destination}}</span>
    <span class="departure-time pull-right" am-time-ago="departure.ExpectedDateTimeMoment"></span>
  </li>
</ul>