<p>Uppdaterad: {{latestUpdate}} ({{dataAgeActual}} sekunder sedan)</p>

<h2><span class="traffic-icon">J</span>Pendeltåg</h2>
<ul class="list-group departures" ng-repeat="departure in trains">
  <li class="list-group-item">
    <span class="departure-line">{{departure.LineNumber}}</span>
    <span class="departure-title">{{departure.Destination}}</span>
    <span class="departure-time pull-right">{{departure.DisplayTime}}</span>
  </li>
</ul>
<hr>
<h2><span class="traffic-icon">B</span>Buss</h2>
<ul class="list-group departures" ng-repeat="departure in buses">
  <li class="list-group-item">
    <span class="departure-line">{{departure.LineNumber}}</span>
    <span class="departure-title">{{departure.Destination}}</span>
    <span class="departure-time pull-right">{{departure.DisplayTime}}</span>
  </li>
</ul>